//===============================================================================
// MIXINS
//===============================================================================

// CLEAR FIX
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// APPEARANCE
// @include apperance;
@mixin appearance( $value: none ) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
          appearance: $value;
}

// HIDE TEXT
// @include hide-text;
@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

// MARGIN AUTO
// @include margin-auto;
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// NO SELECTION ON TEXT
// @include no-text-select;
@mixin no-text-select {
 -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

// box sizing
// @include box-sizing;
@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}


@mixin changeCol {
  animation: changeCol 60s infinite;
}
