
//===============================================================================
// VARIABLES
//===============================================================================

$lgrey: #DFE0E1;
$midgrey: #979F9F;
$sagegreen: #00DC00;
$mutedgreen: #41A940;
$greenbrown: #8EA518;
$berry: #CA2A60;
$strawberry: #EC3275;
$dblue: #2E3456;
$lblue: #07ECD7;



$vshort: 0.05s;
$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





